html{

}

body{
margin: 0%;
  overflow-y: scroll;
}

h1{
  margin-left: 200px;
opacity: 1;
text-align: center;
}



nav{
height: 70px;
width:100%;
color: white;
background-color: black;
position: fixed;
display: none;
text-align: center;
opacity: 0.5;
}
#Home{
  cursor: pointer;
}
#Services{
  cursor: pointer;
}
#Info{
  cursor: pointer;
}
#Contacts{
  cursor: pointer;
}

#first{
  background-color: black;
  height: 675px;
  color: white;
}
#Intro{
  text-align: center;
  margin-top:0px;
padding-top: 100px;
padding-right: 180px;
font-family: 'Aldrich', Times, serif;
font-size: 40px;
}
#text{
  text-align: center;
}
#fieldset{
  display: none;
}
#second{
  background-color: #409f;
  height: 650px;
  background: url(../imgs/Bakgrund1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#erbjuda{
margin: 0%;
display: flex;
padding-top: 70px;
font-family: 'Aldrich', Times, serif;
font-size: 35px;

}

#ruta1{
  height: 310px;
  width: 600px;
  float: right;
  font-size: 17px;
  font-family:  'Aldrich', Times, serif;
}
#ruta2{
 width: 600px;

 background-repeat: no-repeat;

 font-family:  'Aldrich', Times, serif;
}
#bild1{
margin-left: 50px;
}
#third{
  background: url(../imgs/bakgrund.png);
  background-repeat: no-repeat;
  background-size: cover;

  height: 750px;

}
#Infor{
  margin: 0%;
  display: flex;
  margin-left: 800px;
  padding-top: 70px;
  font-family:  'Aldrich', Times, serif;
  font-size: 35px;
}
#ruta3{
  max-height: 400px;
  max-width: 600px;
  margin: 0%;
  font-family:  'Aldrich', Times, serif;
  font-size: 16px;
float: left;
}
#gäng{
margin-top: 50px;
margin-left: 800px;
}

#fourth{
  background-color: black;
height:650px;
}
#personal{
  padding-top: 70px;
margin: 0%;
color:  white;
font-family:  'Aldrich', Times, serif;

}
#window{
   width:405px;
  overflow: hidden;
position: relative;
margin-left: 35%;
}
#Bilderna{
  display: flex;
  position: relative;
}
#knapp1{
  color: white;
  position: relative;
  display: none;
  cursor: pointer;
  margin-left: 300px;
  font-family:  'Aldrich', Times, serif;
}
#knapp2{
  color: white;
  margin-left: 473px;
  position: relative;
  display: none;
  cursor: pointer;
  font-family:  'Aldrich', Times, serif;

}
#knappar{
  display:flex;
  position:relative;
}
#ruta4{
height: 200px;
width: 600px;
background-color: black;
color: white;
text-align: center;
margin-left: 370px;
font-family:  'Aldrich', Times, serif;
}
