/*Mobil formatet */
.side-nav{
  font-size: 2em;
  width: 75%;
}
path{
  margin-left: 5%;
}

main{
width: 100%;
height: 600px;
background-color: gray;

}
#MainTitel{
text-align: center;
font-family: 'Aldrich', Times, serif;

}
#Home{
  font-family: 'Aldrich', Times, serif;
cursor: pointer;
}
#textRuta1{
  cursor: pointer;
  font-family: 'Aldrich', Times, serif;

}
#textRuta2{
  cursor: pointer;
  font-family: 'Aldrich', Times, serif;

}
#textRuta3{
  cursor: pointer;
  font-family: 'Aldrich', Times, serif;

}
#ruta1{
width: 100%;
height: 600px;
background-color: green;
}
#ruta2{
  width: 100%;
  height: 600px;
  background-color: red;
}
#ruta3{
width: 100%;
height: 600px;
background-color: purple;
}

/*Platt formatet*/
@media screen and (min-width: 700px) {

}


/*Dator formate*/



@media screen and (min-width: 1200px) {






}
