/*Mobil formatet */
.side-nav{
  font-size: 2em;
  width: 75%;
}
path{
  margin-left: 5%;
  margin-top: 5%;
}
#navDator{
display: none;
}
main{
width: 100%;
height: 800px;
font-family: 'Aldrich', Times, serif;
background: url('../Images/wallpaper-white.jpg');
}
#css_wrapper{
height: 40%;
width: 70%;
background: url('../Images/css_sprites-min.png') 0 -340px;
float: right;

}
#MainTitel{
text-align: center;
font-family: 'Aldrich', Times, serif;
margin-bottom: 5%;

}
#Home{
  font-family: 'Aldrich', Times, serif;
cursor: pointer;

}
#ruta1{
width: 100%;
height: 900px;
background-color: green;
  font-family: 'Aldrich', Times, serif;
  background: url('../Images/wallpaper2.jpeg');
  background-size: cover;
}
#insidaBild{
  margin-left: 15%;

}
#textRuta1{
  cursor: pointer;
  font-family: 'Aldrich', Times, serif;

}
p{
font-size: 100%;

}

#ruta2{
  width: 100%;
  height: 850px;
  background: url('../Images/white3.jpg');
  font-family: 'Aldrich', Times, serif;
}
#textRuta2{
  cursor: pointer;
  font-family: 'Aldrich', Times, serif;

}
#ruta3{
width: 100%;
height: 950px;
background: url('../Images/white4.jpeg');
background-size: cover;
  font-family: 'Aldrich', Times, serif;
}
#textRuta3{
  cursor: pointer;
  font-family: 'Aldrich', Times, serif;

}
/*Platt formatet*/
@media screen and (min-width: 700px) {

  .side-nav{
width: 50%;

}

main{
  height: 800px;
}


#css_wrapper{
  background: url('../Images/css_sprites-min.png') 0 0;
height: 40%;
  float: left;
  margin-left: 12.5%;
}

}


/*Dator formate*/



@media screen and (min-width: 1200px) {

main{
  height:750px;

}
#navDator{
  position: fixed;
  display: block;
  width: 18%;
  background: #f4f4f4;
  min-height: 100vh;
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.75);
  display: show;
  font-family: 'Aldrich', Times, serif;
  justify-items: center;
}


#css_wrapper{

  height: 45%;
  width: 65%;
}
h2{
  font-size: 95%;
}
#MainTitel{
  margin-bottom: 3%;
}
